.container__heading{
    display: flex;
    flex-direction: column;
}

.header{
    position: relative;
    height: 95vh; 
    background-size: cover;
    background-position: top;
  
}

.heading-primary{
    text-transform: uppercase;
    /* keeps the entire heading-primary element from shaking
        - no one really knows why this happens */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;


    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight 1s ease-out;

      
    }
}

.heading-secondary{
    font-size: 3.5rem; 
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // background gradient will only display where the text is
    -webkit-background-clip: text;
    color: transparent;
    // 2px is so small, doesn't matter if we want to scale or not
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#000, .2);
    }
}



/* creating an animation */
@keyframes moveInLeft {
    /* intial state */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }
    
    /* final state */
    100% {
        opacity: 1;

        /* translate(0) to make it look the exact way it looks now */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// profile image
@media(min-width: 987px){
    .profile-image{
        width: 50%;
        max-width: 900px;
       
    }
    .full_panel{
          width: 100%;
          max-width: 1920px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto;
        
          &-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
        }
    }
}

@media (max-width: 986px) {
     .profile-image{
        width: 100%;       
    }
  .full_panel{
          width: 100%;
          max-width: 1920px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 auto;
        
          &-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
        &-icon-rows{

        }
    }
    .fake_link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
    &:hover {        
        .real_link {        
            opacity: 1;                    
        }
    }
    .real_link {        
        opacity: 0;
        transition: .5s ease;
    }
  
    }
}

 .full_panel{

    &-icon-rows{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }
        
        .fake_link{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            
        &:hover { 
            font-size: 1.1rem;
            .real_link {        
                opacity: 1;                
            }
                
        }
        .real_link {        
            opacity: 0;
            transition: .5s ease;
            a {
                color: #000;
                &:hover{
                    color: #fec503;
                }
            }
        }
    }
} 
  
    




.embed-container {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, 
.embed-container object, 
.embed-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.section-title p.theMotto{
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
    margin:0;
}
section#panels{
    padding-top:0 !important;
}
.who_link{
    color: #fff;
}

.who_link:hover{
    text-decoration: none;
    color: #fec503;
}


@keyframes show-yourself{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// OVERRIDES
.team-item p{
    padding: 0 !important;
}
.mz-module-about {
    padding: 0px !important;
}
.ot-circle{
    margin: 2rem 0 !important;
}