/* Work Experience Section CSS */
.work-experience-container{
    width: 100%;
    margin: 0px auto;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    li{
        text-align: left;
    }
    .pad2emTop{
        padding-top: 2em;
    }
     .pad2emBot{
        padding-bottom: 2em;
    }
     .pad2emTopBot{
        padding: 2em 0;
    }
     .marg2emTop{
        margin-top: 2em;
    }
     .marg2emBot{
        margin-bottom: 2em;
    }
     .marg2emTopBot{
        margin: 2em 0;
    }
}

