/* Work Experience Section CSS */
section.work-experience-container li{
    text-align: left;
}
.work-experience-container .pad2emTop{
    padding-top: 2em;
}
.work-experience-container  .pad2emBot{
    padding-bottom: 2em;
}
.work-experience-container  .pad2emTopBot{
    padding: 2em 0;
}
