@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #212121;
  background-color: rgba(224, 224, 224);
}

.input-common {
  @apply h-[50px] border border-[#212121] bg-white p-[10px] font-sans text-[16px] text-[#212121] outline-none;
}

.button-start-common {
  @apply h-[50px] cursor-pointer rounded-[30px] border-none bg-[#0073b1] font-sans text-[18px] font-semibold text-white outline-none;
}

.react-icon {
  @apply cursor-pointer text-[#787878] hover:text-black;
}
